<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/logado.css">
  <title>Seja bem-vindo ao sistema de Compras Virtual</title>
</head>
<body>
  <div class="container-login100">
  <div class="container-botoes text-center mt-5">
    <h1>Seja bem-vindo!</h1>
    <div class="button-group mt-4">
      <a href="chapas/listar" class="btn btn-primary custom-btn mb-3">Listar Produtos</a><br>
      <a href="usuarios/Cadastrar" class="btn btn-primary custom-btn mb-3">Cadastrar Usuários</a><br>
      <a href="chapas/Cadastrar" class="btn btn-primary custom-btn mb-3">Cadastrar Chapas</a><br>
      <a href="/login" class="btn btn-primary custom-btn mb-3">Deslogar</a>
    </div>
  </div>
  </div>
</body>
</html>
