<head>
  <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <h1 class="text-center my-3">Cadastro de Usuários</h1>
      <form action="/usuarios/Cadastrar" method="post">
        <div class="row w-100 d-block m-auto g-3">
          <div class="col-12">
            <label class="form-label" for="nome">Nome:</label>
            <input
              class="form-control"
              type="text"
              name="nome"
              id="nome"
              placeholder="Digite o seu Nome"
              required
            />
          </div>
          <div class="col-12">
            <label class="form-label" for="email">Email:</label>
            <input
              class="form-control"
              type="text"
              name="email"
              id="email"
              placeholder="Digite o seu Email"
              required
            />
          </div>
          <div class="col-12">
            <label class="form-label" for="senha">Senha:</label>
            <input
              class="form-control"
              type="password"
              name="senha"
              id="senha"
              placeholder="Digite a sua senha"
              required
            />
          </div>
          <div>
            <input
              class="btn btn-primary my-3 w-100"
              type="submit"
              value="Cadastrar Usuário"
            />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

</body>

