<h1 class="text-center my-3">Sistema de Cadastro de Chapas</h1>
<form action="/chapas/Cadastrar" method="post">
  <div class="row w-50 d-block m-auto g-3">
    
    <!-- Campo Nome da Chapa -->
    <div class="col-12">
      <label class="form-label" for="nome">Nome da Chapa:</label>
      <input
        class="form-control"
        type="text"
        name="nome"
        id="nome"
        placeholder="Digite o nome da chapa"
        required
      />
    </div>

    {{!-- <!-- Campo Quantidade da Chapa -->
    <div class="col-12">
      <label class="form-label" for="quantidade">Quantidade da Chapa:</label>
      <input
        class="form-control"
        type="number"
        name="quantidade"
        id="quantidade"
        placeholder="Digite a quantidade"
        required
      />
    </div> --}}

    <!-- Campo Link da Imagem da Chapa -->
    <div class="col-12">
      <label class="form-label" for="link">Link da Imagem da Chapa:</label>
      <input
        class="form-control"
        type="url"
        name="link"
        id="link"
        placeholder="Digite o link da imagem"
        required
      />
    </div>

    <!-- Campo Qualidade da Chapa -->
    <div class="col-12">
      <label class="form-label" for="qualidade">Qualidade da Chapa:</label>
      <input
        class="form-control"
        type="text"
        name="qualidade"
        id="qualidade"
        placeholder="Digite a qualidade da chapa"
        required
      />
    </div>

    <!-- Campo Preço da Chapa -->
    <div class="col-12">
      <label class="form-label" for="preco">Preço da Chapa:</label>
      <input
        class="form-control"
        type="number"
        step="0.01"
        name="preco"
        id="preco"
        placeholder="Digite o preço da chapa"
        required
      />
    </div>

    <!-- Botão de Cadastro -->
    <div class="col-12">
      <input class="btn btn-primary my-3" type="submit" value="Cadastrar Chapa" />
    </div>
  </div>
</form>
